@charset "UTF-8";
/* CSS Document */
#button{
	background-color: black;
}

.content-wrapper p{
	width: 10opx;
    height: 100px;
}
	

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

* {
	margin:0px;
	padding:0px;
	letter-spacing:8px;
	font-smooth: never;
	-webkit-font-smoothing: none;
	/*-moz-osx-font-smoothing: grayscale;*/
	
	}
	
body {
	background-image:url(https://fauux.neocities.org/bg/bg_main2.gif);
	background-color:#d9ffcc;!important;
	color:#c1b492;	

	
}

	
a {
	text-decoration:none;
	
	}
	
a:link {
	color:#d2738a;
	}
	
a:visited {
	color:#d2738a;
	}
	
a:hover {
	color:#d2738a;
	animation: wiredB2 1s ease-out infinite;

	}
	
.article {
	width:800px;
	background: radial-gradient(#e62e00, black);
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	box-shadow:black 0px 5px 10px;
	text-align:center;
	letter-spacing:8px;
	font-size:13px;
	padding-top:20px;

	
	}
	
.article>.button {
	color: white;
	border-radius: 2px;
	background-color: black;
	width: 150px;
    height: 40px;  
	box-shadow:black 2px 5px 5px;
	text-align:center;
	letter-spacing:3px;
	font-size:10px;
	padding-top:10px;

	
	}
	
	
.frame {
	height:750px;
	width:750px;
}
	
.article p {
	margin:20px;
	font-size:13px;
	}
	